<main class="container my-4">
  <div class="notifications-wrapper p-4">
    <div class = 'row container'>
    <h1 class="mb-3 col-3">Notifications</h1>
      <div class="col-6"></div>
      <button type="button" class="btn btn-secondary dropdown-toggle col-1 w-25 end-0" data-bs-toggle="dropdown" aria-expanded="false" style="color:#fff; background-color: #1d2445">
       Sort By
      </button>
      <ul class="dropdown-menu col-2">
        <li><span class="dropdown-item">Newest <i class = "bi-arrow-up"></i></span></li>
        <li><span class="dropdown-item">Oldest<i class = "bi-arrow-down"></i></span></li>
      </ul>

    </div>
    <hr>
    <div *ngIf="Notifications.length > 0; else noNotifications">
      <div class="notification-list">
        <app-notification class="notification-item" *ngFor="let notification of Notifications" [notification]="notification">
<!--          {{notification.from}}-->
        </app-notification>
      </div>
    </div>
    <ng-template #noNotifications>
      <p class="text-muted text-center">You have no notifications.</p>
    </ng-template>
  </div>
</main>


