
<div class="job-details-card shadow rounded-4 p-4">
  <div class="d-flex justify-content-between">
    <h2>{{jobApplication.job_title}}</h2>
    <div>
      <h3 *ngIf="jobApplication.availability" class="text-success">Available</h3>
      <h3 *ngIf="!jobApplication.availability" class="text-danger">Not Available</h3>
    </div>
  </div>
  <hr>


  <div class="row d-flex flex-column">
    <div class="job-detail-items" >
      <p class="card-text" style="font-size: 14px;">
             <span
               class="px-3 py-1 rounded-pill text-white"
               [ngClass]="{
            'bg-success text-light': jobApplication.application_status == 'Accepted',
            'bg-danger text-light': jobApplication.application_status == 'Rejected',
            'bg-warning text-dark': jobApplication.application_status == 'Under Review',
          }">
                <i class="bi bi-check-circle-fill me-1" *ngIf="jobApplication.application_status == 'Accepted'"></i>
          <i class="bi bi-x-circle-fill me-1" *ngIf="jobApplication.application_status == 'Rejected'"></i>
          <i class="bi bi-hourglass-split me-1" *ngIf="jobApplication.application_status == 'Under Review'"></i>
               {{ jobApplication.application_status }}
        </span>
      </p>
    </div>

    <div class="job-detail-items  d-flex my-3 gap-2">
      <p class="text-muted">Applied At:</p>
      <p class="fw-semibold" id="establishedDate">2025-05-26</p>
    </div>

    <div class="job-detail-items d-flex gap-2 mt-0">
      <p class="text-muted">location: </p>
      <p class="fw-semibold" id="companySize"> {{jobApplication.location}}</p>
    </div>

    <div class="job-detail-items d-flex gap-2 mt-0">
      <p class="text-muted">salary:</p>
      <p class="fw-semibold" >{{jobApplication.salary}} $</p>
    </div>

    <div class="job-detail-items d-flex gap-2 mt-0">
      <p class="text-muted">Job Type:</p>
      <p class="fw-semibold" >{{jobApplication.job_type}}</p>
    </div>

    <div class="job-detail-items d-flex gap-2 mt-0">
      <p class="text-muted">Workplace:</p>
      <p class="fw-semibold" >{{jobApplication.workplace}}</p>
    </div>

    <div class="job-detail-items d-flex gap-2 mt-0">
      <p class="text-muted">Category:</p>
      <p class="fw-semibold" >{{jobApplication.job_category}}</p>
    </div>

  </div>

  <hr>

  <p class="mb-1 text-muted">Job Description</p>
  <p>{{jobApplication.description}}</p>
</div>
