<footer class="bg-body text-primary-emphasis text-center text-lg-start mt-5">
  <div class="container p-4 d-flex justify-content-center">
    <div class="row">
      <!-- Column 1 -->
      <div class=" col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase text-center">About Us</h5>
        <p>
          we are a hiring website you can apply to any job you want and your application will be acepted or rejected and you will be notifid with it.
        </p>
      </div>

    </div>
  </div>

  <div class="text-center p-2 bg-light">
    © 2025 Quick Hire
  </div>
</footer>
