<app-hero-section></app-hero-section>
<div class="d-flex justify-content-center align-items-center flex-column m-5">
    <div>
        <p class="text-decoration-underline link-offset-2 fw-medium mb-3 fs-6 text-center"
            style="text-decoration-thickness: 1px;">we Work To Give You The Best</p>
        <h1 class="hero-section-title mb-3 mt-4">The only job seeker centric platform</h1>
    </div>
    <div class="d-flex container justify-content-center justify-content-around row mt-5 col-lg-12 col-6 col-sm-12 ">
    <div class="card border-0 " style="width: 18rem;">
        <div class="card-body">
            <div class="d-flex ">
                <span><i class="bi bi-file-arrow-up"></i></span>
                <p class="ms-2">UpLoad your resume</p>
            </div>
            <hr>
            <p class="card-text">
                you can upload your resume in your profile and by it you can apply for the job that you are interested in.
            </p>
        </div>
    </div>
     <div class="card border-0 " style="width: 18rem;">
        <div class="card-body">
            <div class="d-flex">
                <span><i class="bi bi-hourglass-split"></i></span>
                <p class="ms-2">Trak the application statuse</p>
            </div>
            <hr>
            <p class="card-text">
              your application statuse will change automatically when the employer will accept your application.
            </p>
        </div>
    </div>
     <div class="card border-0 " style="width: 18rem;">
        <div class="card-body">
            <div class="d-flex">
                <span><i class="bi bi-bell-fill"></i></span>
                <p class="ms-2">Never miss an opportunity</p>
            </div>
            <hr>
            <p class="card-text">
                keep track of the job that you are interested in and never miss an opportunity.
            </p>
        </div>
    </div>
</div>
</div>
<section id="cards">
    <app-job-applection></app-job-applection>
</section>
<app-footer></app-footer>