




<div style="min-height: 100vh; display: flex; align-items: center; justify-content: center; padding: 30px; box-sizing: border-box;
            background-image: url('/assets/fjob.jpg'); background-size: cover; background-position: center; background-attachment: fixed;
            position: relative;">


  <div style="position: absolute;  width: 100%; height: 100% ;background: rgba(0, 0, 0, 0.5); box-shadow: 0 0 100px rgba(0, 0, 0, 0.7); z-index: 0;">
  </div>

  <div style="position: relative; z-index: 1; width: 100%; max-width: 900px; padding: 30px; box-sizing: border-box;">


    <div style="background-color: white; border-radius: 10px; padding: 40px; width: 100%; box-sizing: border-box;">
      <h2 style="text-align: center; margin-bottom: 30px; color: black;">Sign Up</h2>



<div class="d-flex justify-content-center mb-4">
  <button
    class="btn mx-2 btn-custom"
    (click)="onRoleSelect('job-seeker')"
    [ngClass]="{'btn-dark': selectedRole === 'job-seeker'}"
    style="background-color: #1d2445; color: white;"
  >
    <i class="bi bi-person"></i> Job Seeker
  </button>
  <button
    class="btn mx-2 btn-custom"
    (click)="onRoleSelect('employer')"
    [ngClass]="{'btn-dark': selectedRole === 'employer'}"
    style="background-color: #1d2445; color: white;"
  >
    <i class="bi bi-briefcase"></i> Employer
  </button>
</div>



   
   
   

      <div *ngIf="selectedRole === 'job-seeker'">
  <form [formGroup]="jobSeekerForm" (ngSubmit)="onSubmit()">

    
<div class="mb-3 position-relative">
  <i class="bi bi-person position-absolute fs-5" style="right: 12px; top: 6px; color: #1d2445;"></i>
  <input type="text" class="form-control pe-5" formControlName="firstName" placeholder="First Name" />
  <div class="text-danger small mt-1" *ngIf="jobSeekerControls['firstName'].invalid && jobSeekerControls['firstName'].touched">
    First name is required
  </div>
</div>

    <div class="mb-3 position-relative">
  <i class="bi bi-person position-absolute fs-5" style="right: 12px; top: 6px; color: #1d2445;"></i>
  <input type="text" class="form-control pe-5" formControlName="lastName" placeholder="Last Name" />
  <div class="text-danger small mt-1" *ngIf="jobSeekerControls['lastName'].invalid && jobSeekerControls['lastName'].touched">
    Last name is required
  </div>
</div>

    <div class="mb-3 position-relative">
      <i class="bi bi-envelope position-absolute fs-5" style="right: 12px; top: 6px; color: #1d2445;"></i>
      <input type="email" class="form-control pe-5" formControlName="email" placeholder="Email" />
      <div class="text-danger small mt-1" *ngIf="jobSeekerControls['email'].invalid && jobSeekerControls['email'].touched">
        <div *ngIf="jobSeekerControls['email'].hasError('required')">Email is required</div>
        <div *ngIf="jobSeekerControls['email'].hasError('email')">Invalid email address</div>
      </div>
    </div>

    <div class="mb-3 position-relative">
      <i class="bi bi-lock position-absolute fs-5" style="right: 12px; top: 6px; color: #1d2445;"></i>
      <input type="password" class="form-control pe-5" formControlName="password" placeholder="Password" />
      <div class="text-danger small mt-1" *ngIf="jobSeekerControls['password'].invalid && jobSeekerControls['password'].touched">Password must be at least 8 characters</div>
    </div>

    <div class="mb-3 position-relative">
  <i class="bi bi-lock-fill position-absolute fs-5" style="right: 12px; top: 6px; color: #1d2445;"></i>
  <input
    type="password"
    class="form-control pe-5"
    formControlName="confirmPassword"
    placeholder="Confirm Password"
  />

  <div
    class="text-danger small mt-1"
    *ngIf="
      jobSeekerControls['confirmPassword'].touched &&
      jobSeekerForm.errors?.['mismatch']
    "
  >
    Passwords must match
  </div>
</div>

    <div class="mb-3 position-relative">
      <i class="bi bi-telephone position-absolute fs-5" style="right: 12px; top: 6px; color: #1d2445;"></i>
      <input type="text" class="form-control pe-5" formControlName="phone" placeholder="Phone Number" />
      <div class="text-danger small mt-1" *ngIf="jobSeekerControls['phone'].invalid && jobSeekerControls['phone'].touched">Phone number is required</div>
    </div>

    <div class="mb-3 position-relative">
      <i class="bi bi-gender-ambiguous position-absolute fs-5" style="right: 12px; top: 6px; color: #1d2445;"></i>
      <select class="form-control pe-5" formControlName="gender">
        <option value="" disabled >Gender</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
      </select>
      <div *ngIf="jobSeekerControls['gender'].touched && jobSeekerControls['gender'].hasError('required')" class="text-danger small mt-1">
    Gender is required
  </div>
    </div>

   <div class="mb-3 position-relative">
  <i class="bi bi-geo-alt position-absolute fs-5" style="right: 12px; top: 6px; color: #1d2445;"></i>
  <input type="text" class="form-control pe-5" formControlName="city" placeholder="City" />
  
  <div *ngIf="jobSeekerForm.get('city')?.touched && jobSeekerForm.get('city')?.hasError('required')" class="text-danger small mt-1">
    City is required
  </div>
</div>

     

    <div class="mb-3 position-relative">
      <i class="bi bi-mortarboard position-absolute fs-5" style="right: 12px; top: 6px; color: #1d2445;"></i>
      <select class="form-control pe-5" formControlName="educationLevel">
        <option value="" disabled >Education Level</option>
        <option value="High School">High School</option>
        <option value="Bachelor's">Bachelor's</option>
        <option value="Master's">Master's</option>
        <option value="PhD">PhD</option>
      </select>
      <div *ngIf="jobSeekerControls['educationLevel'].touched && jobSeekerControls['educationLevel'].hasError('required')" class="text-danger small mt-1">
  Education level is required
</div>
    </div>

    <div class="mb-3 position-relative">
      <i class="bi bi-journal-text position-absolute fs-5" style="right: 12px; top: 6px; color: #1d2445;"></i>
      <input type="text" class="form-control pe-5" formControlName="major" placeholder="Major" />
       <div *ngIf="jobSeekerForm.get('major')?.touched && jobSeekerForm.get('major')?.hasError('required')" class="text-danger small mt-1">
    Major is required
  </div>
</div>

    <div class="mb-3 position-relative">
      <i class="bi bi-briefcase position-absolute fs-5" style="right: 12px; top: 6px; color: #1d2445;"></i>
      <input type="number" class="form-control pe-5" formControlName="experience" placeholder="Years of Experience" />
    </div>

 <button
  type="submit"
   class="btn w-100"
  style="background-color: #1d2445; color: white;"
  [disabled]="jobSeekerForm.invalid"
>
  Sign Up as Job Seeker
</button>

  </form>
</div>

<div *ngIf="selectedRole === 'employer'">
  <form [formGroup]="employerForm" (ngSubmit)="onSubmit()">

    <div class="mb-3 position-relative">
      <i class="bi bi-building position-absolute fs-5" style="right: 12px; top: 6px; color: #1d2445;"></i>
      <input type="text" class="form-control pe-5" formControlName="companyName" placeholder="Company Name" />
      <div *ngIf="employerForm.get('companyName')?.touched && employerForm.get('companyName')?.invalid" class="text-danger small mt-1">
        Company Name is required
      </div>
    </div>


    <div class="mb-3 position-relative">
      <i class="bi bi-envelope position-absolute fs-5" style="right: 12px; top: 6px; color: #1d2445;"></i>
      <input type="email" class="form-control pe-5" formControlName="email" placeholder="Company Email Address" />
      <div *ngIf="employerForm.get('email')?.touched && employerForm.get('email')?.invalid" class="text-danger small mt-1">
         Please enter a valid email address
      </div>
    </div>


    <div class="mb-3 position-relative">
      <i class="bi bi-lock position-absolute fs-5" style="right: 12px; top: 6px; color: #1d2445;"></i>
      <input type="password" class="form-control pe-5" formControlName="password" placeholder="Password" />
      <div *ngIf="employerForm.get('password')?.touched && employerForm.get('password')?.invalid" class="text-danger small mt-1">
         Password must be at least 8 characters
      </div>
    </div>

   
    <div class="mb-3 position-relative">
      <i class="bi bi-lock-fill position-absolute fs-5" style="right: 12px; top: 6px; color: #1d2445;"></i>
      <input type="password" class="form-control pe-5" formControlName="confirmPassword" placeholder="Confirm Password" />
      <div *ngIf="employerForm.get('confirmPassword')?.touched && employerForm.get('confirmPassword')?.invalid" class="text-danger small mt-1">
         Please confirm your password
      </div>
    </div>

   
    <div class="mb-3 position-relative">
      <i class="bi bi-telephone position-absolute fs-5" style="right: 12px; top: 6px; color: #1d2445;"></i>
      <input type="text" class="form-control pe-5" formControlName="phone" placeholder="Phone Number" />
      <div *ngIf="employerForm.get('phone')?.touched && employerForm.get('phone')?.invalid" class="text-danger small mt-1">
         Phone number is required
      </div>
    </div>

  
  
    <div class="mb-3 position-relative">
      <i class="bi bi-geo-alt position-absolute fs-5" style="right: 12px; top: 6px; color: #1d2445;"></i>
      <input type="text" class="form-control pe-5" formControlName="location" placeholder="Company Location " />
      <div *ngIf="employerForm.get('location')?.touched && employerForm.get('location')?.invalid" class="text-danger small mt-1">
         Company location is required
      </div>
    </div>

 
    <div class="mb-3 position-relative">
      <i class="bi bi-briefcase position-absolute fs-5" style="right: 12px; top: 6px; color: #1d2445;"></i>
      <input type="text" class="form-control pe-5" formControlName="industry" placeholder="Industry" />
      <div *ngIf="employerForm.get('industry')?.touched && employerForm.get('industry')?.invalid" class="text-danger small mt-1">
         Industry is required
      </div>
    </div>

    <button
    type="submit"
    class="btn w-100"
    style="background-color: #1d2445; color: white;"
    [disabled]="employerForm.invalid"
  >
    Sign Up as Employer
  </button>
  </form>
</div>



<div class="text-center mt-4">
  <button class="btn w-100" style="background-color: #1d2445; color: white;" [routerLink]="['/login']">
    <i class="bi bi-arrow-left"></i> Back to Sign In
  </button>
</div>

    </div>
  </div>
</div>
