
<div style=" background-color: #F4F4F6 ">
<div class="container pt-5" >

  <div class=" greeting-employer mt-0 mb-3 ">
    <strong >
      Welcome <span style="color: #3c4670">{{employerName}}</span>! <br> Let’s make hiring your next advantage.
    </strong>
  </div>
  <div>
    <app-top-header-panel></app-top-header-panel>
  </div>


  <div class="row mb-4">
    <div class="col-md-4 mb-sm-4">
      <div class="card employer-windows">

        <div class="card-body">
          <div class="d-flex justify-content-between" style="color: #1D2445">
            <h5 class="card-title">Recent Job Applications</h5>
            <i class="bi bi-clipboard-check"></i>
          </div>
          <hr class="my-1">
          <app-last-applications></app-last-applications>

          <a class="icon-link icon-link-hover d-flex justify-content-center"
             [routerLink]="'/allJobApplications'"
             style="color: #1D2445;
              text-decoration: none"
          >
            View All
            <svg xmlns="http://www.w3.org/2000/svg" class="bi" viewBox="0 0 16 16" aria-hidden="true">
              <path d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
            </svg>
          </a>

        </div>
      </div>

    </div>
    <div class="col-md-8">
      <div class="card mb-3 employer-windows">
        <div class="card-body">
          <h5 class="card-title">Quick CV Search <span class="bg-danger text-white p-1 rounded-3">static</span></h5>

          <app-quick-cv-search></app-quick-cv-search>

      </div>

    </div>
  </div>



  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="card mb-3 employer-windows">
        <div class="card-body">

          <div class="d-flex justify-content-between" style="color: #1D2445">
            <h5 class="card-title">Recent Jobs</h5>
            <i class="bi bi-clipboard-check"></i>
          </div>
          <hr class="my-1">

          <app-recent-jobs-list></app-recent-jobs-list>

          <a class="icon-link icon-link-hover d-flex justify-content-center" [routerLink]="'/recentJobs'" style="color: #1D2445; text-decoration: none">
            View All
            <svg xmlns="http://www.w3.org/2000/svg" class="bi" viewBox="0 0 16 16" aria-hidden="true">
              <path d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
            </svg>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card mb-3 employer-windows">
        <div class="card-body">
          <h5 class="card-title">Recommended CVs <span class="bg-danger text-white p-1 rounded-3">static</span></h5>
          <app-cv-list></app-cv-list>
        </div>
      </div>
    </div>
  </div>


</div>

</div>
