
<div class="container mt-5 pt-5" style=" ">

  <div class="col-12 mb-4 d-flex justify-content-between p-3 text-white" style="
   background-color: #1D2445;
   border-radius: 10px;
">

    <div class="d-flex gap-2 flex-column">
      <div class="fw-bold fs-5 d-flex align-self-center">0</div>
      <small>
        Applicants in inbox
      </small>
    </div>

    <div class="d-flex gap-2 flex-column">
          <div class="fw-bold fs-5 d-flex align-self-center">0</div>
          <small>
            Active jobs
          </small>
      </div>

    <div class="d-flex gap-2 flex-column">
      <div class="fw-bold fs-5 d-flex align-self-center">0</div>
        <p>Jobs posted</p>
    </div>


    <button class="btn" style="
    border: white solid 5px;
    color: white;

    font-weight: bolder;
" [routerLink]="'/postJob'">
      <i class="bi-pencil-square"></i> Post a job
    </button>

  </div>


  <div class="row mb-4">
    <div class="col-md-4">
      <div class="card"
           style="height: 30rem;
            width: 100%;
       border-left: 10px solid #1D2445;
       border-right: 10px solid #1D2445;
             box-shadow:0 0 3px 2px rgba(0,0,0,.075);
">

        <div class="card-body">
          <div class="d-flex justify-content-between" style="color: #1D2445">
            <h5 class="card-title">Recent Job Applications</h5>
            <i class="bi bi-clipboard-check"></i>
          </div>
          <hr class="my-1">
          <app-last-applications></app-last-applications>

          <a class="icon-link icon-link-hover d-flex justify-content-center"
             [routerLink]="'/allJobApplications'"
             style="color: #1D2445;
              text-decoration: none"
          >
            View All
            <svg xmlns="http://www.w3.org/2000/svg" class="bi" viewBox="0 0 16 16" aria-hidden="true">
              <path d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
            </svg>
          </a>

        </div>
      </div>

    </div>
    <div class="col-md-8">
      <div class="card mb-3" style="
      height: 30rem;
       width: 100%;
       border-left: 10px solid #1D2445;
       border-right: 10px solid #1D2445;
        box-shadow:0 0 3px 2px rgba(0,0,0,.075);

">
        <div class="card-body">
          <h5 class="card-title">Quick CV Search</h5>

          <app-quick-cv-search></app-quick-cv-search>

      </div>

    </div>
  </div>



  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="card mb-3"
           style="height: 30rem;
           width: 100%;
       border-left: 10px solid #1D2445;
       border-right: 10px solid #1D2445;
            box-shadow:0 0 3px 2px rgba(0,0,0,.075);
">
        <div class="card-body">

          <div class="d-flex justify-content-between" style="color: #1D2445">
            <h5 class="card-title">Recent Jobs</h5>
            <i class="bi bi-clipboard-check"></i>
          </div>
          <hr class="my-1">

          <app-recent-jobs-list></app-recent-jobs-list>

          <a class="icon-link icon-link-hover d-flex justify-content-center" [routerLink]="'/recentJobs'" style="color: #1D2445; text-decoration: none">
            View All
            <svg xmlns="http://www.w3.org/2000/svg" class="bi" viewBox="0 0 16 16" aria-hidden="true">
              <path d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
            </svg>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card mb-3" style="
      height: 30rem;
      width: 100%;
      box-shadow:0 0 3px 2px rgba(0,0,0,.075);
      border-left: 10px solid #1D2445;
      border-right: 10px solid #1D2445;

">
        <div class="card-body">
          <h5 class="card-title">Recommended CVs</h5>
          <app-cv-list></app-cv-list>
        </div>
      </div>
    </div>
  </div>


</div>
