<div class="sign-in-container d-flex" style="min-height: 100vh; background-image: url('/assets/fjob.jpg'); background-size: cover; background-position: center;  position: relative;">


  <div class="form-section d-flex justify-content-center align-items-center w-100"
       style="background-color: rgba(0,0,0,0.5); height: 100vh; position: relative; z-index: 1; padding: 30px; box-sizing: border-box;">


    <div class="p-4 rounded w-100"
         style="max-width: 600px; background-color: #ffffff; box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);">

      <h4 class="mb-4 text-dark text-center">Reset your password</h4>

      <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <input
            type="email"
            class="form-control"
            formControlName="email"
            placeholder="Enter your email"
          />
          <small class="text-danger" *ngIf="email?.invalid && email?.touched">
            <span *ngIf="email?.errors?.['required']">Email is required</span>
            <span *ngIf="email?.errors?.['email']">Please enter a valid email</span>
          </small>
        </div>

        <button type="submit" class="btn w-100" [disabled]="forgotForm.invalid"
                style="background-color: #1D2445; color: white;">
          Send
        </button>
      </form>

      <div class="text-center text-dark mt-3">
        <p>We'll send you a code to reset your password.</p>
      </div>

      <div class="d-flex justify-content-start mt-4">
        <button class="btn btn-sm" [routerLink]="['/login']" style="background-color: #1D2445; color: white; padding: 8px 15px; display: flex; align-items: center; justify-content: center; font-family: 'Arial', sans-serif; font-size: 14px;">
          Back to Sign In
        </button>
      </div>

    </div>
  </div>
</div>
