<div class="container p-1">

  <div class="col-12">

    <div *ngIf="jobs.length <= 0">
      <div class="d-flex justify-content-center flex-column align-items-center mt-5"
           style="font-size: 32px;
          color: #1d2445;
        "
      >
        <i class="bi bi-inbox text-secondary" style="font-size: 2rem;"></i>
        <p >No jobs available.</p>
      </div>
    </div>
    <app-recent-job-block *ngFor="let job of jobs |  slice:0:3" [job] = 'job '></app-recent-job-block>

  </div>
</div>
