<div class="applied">
    <div class="applied-row">
        <div class="applied-col" *ngFor="let item of appliedJobs">
            <ng-container>
                <div class="applied-card">
                    <button class="delete" (click)="deleteJob(item.job.job_id)">&#10005;</button>
                    <div class="applied-body">
                        <h5 class="applied-title">{{ item.job.job_title }}</h5>
                        <p><strong>Location:</strong> {{ item.job.location || 'N/A' }}</p>
                        <p><strong>Salary:</strong> {{ item.job.salary ? ('$' + item.job.salary) : 'N/A' }}</p>
                        <p><strong>Requirements:</strong> {{ item.job.job_full_disc?.requirements || 'N/A' }}</p>
                        <a class="view" [routerLink]="['/job-description', item.job.job_id]">View Details</a>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>
  
