<div class="profile-app">
    <div class="profile-top">
        <button class="edit-background"><i class="bi bi-pencil"> </i></button>
        <img class="backgrond-profile-pic" src="assets/backgrond-profile-pic.jpeg" alt="backgrond">
       
    </div>
        <div class="profile-pic-wrapper">
            <img class="profile-pic" src="/assets/default-pic.png" alt="Profile pic">
            <button class="edit-pic"><i class="bi bi-pencil"> </i></button>
        </div>
    <div class="profile-down">
        <div class="info">
            <div class="name">Amr Asmar</div>

            
    <div class="top-bar">
        <ul class="nav-list">
            <li><a (click)="selectComponent('applied')">Applied jobs</a></li>
            <li><a (click)="selectComponent('form')">Form</a></li>
            <li><a (click)="selectComponent('favorite')">Favorite</a></li>
            <li><a (click)="selectComponent('status')">Status</a></li>
            <li><a (click)="selectComponent('save')">Save</a></li>
        </ul>
    </div>
    
    <div>
        <app-applied *ngIf="selectedComponent === 'applied'"></app-applied>
        <app-form *ngIf="selectedComponent === 'form'"></app-form>
        <app-favorite *ngIf="selectedComponent === 'favorite'"></app-favorite>
        <app-status *ngIf="selectedComponent === 'status'"></app-status>
        <app-save *ngIf="selectedComponent === 'save'"></app-save>
    </div>

        </div>
    </div>

</div>
