<div class="profile-app">
    <div class="profile-top">
        <button class="edit-background" (click)="onEditBackgroundPic()">
            <i class="bi bi-pencil"></i>
        </button>
        <img class="backgrond-profile-pic" [src]="backgroundPicUrl" alt="background">
    </div>

    <div class="profile-pic-wrapper">
        <img class="profile-pic" [src]="profilePicUrl" alt="Profile pic">
        <button class="edit-pic" (click)="onEditProfilePic()">
            <i class="bi bi-pencil"></i>
        </button>
    </div>

    <div class="profile-down">
        <div class="info">
            <div class="name">{{ userName }}</div>

            <div class="top-bar">
                <ul class="nav-list">
                    <li><a class="applied" (click)="selectComponent('applied')">Applied</a></li>
                    <li><a class="form" (click)="selectComponent('form')">Form</a></li>
                    <li><a class="favorite" (click)="selectComponent('favorite')">Favorite</a></li>
                    <li><a class="status" (click)="selectComponent('status')">Status</a></li>
                </ul>
            </div>

            <div>
                <app-save *ngIf="selectedComponent === ''"></app-save>
                <app-applied *ngIf="selectedComponent === 'applied'"></app-applied>
                <app-form *ngIf="selectedComponent === 'form'"></app-form>
                <app-favorite *ngIf="selectedComponent === 'favorite'"></app-favorite>
                <app-status *ngIf="selectedComponent === 'status'"></app-status>
            </div>
        </div>
    </div>
</div>
  
  