<div style="background-color: rgb(244, 244, 246);">
    <div class="d-flex justify-content-around align-items-center flex-column flex-lg-row ">
        <img src="/assets/girl-hero.png" class="rounded col-8 col-lg-3 d-none d-lg-block girl-img" alt="Girl">

        <div class="text-center col-10 col-lg-5 hero-disc">
            <div>
                <p class="text-decoration-underline link-offset-2 fw-medium mb-3 fs-6" style="text-decoration-thickness: 1px;">We are your future</p>
                <h1 class="hero-section-title mb-3">Get your desired job with Quick Hire.</h1>
                <p class="fw-medium mb-3 fs-5">Find Your Dream Job Today!</p>
            </div>
            <div>
                <form class="d-flex flex-column flex-sm-row" role="search" >
                    <input class="form-control rounded-start mb-2 mb-sm-0" type="search"
                        placeholder="Search Jobs..." aria-label="Search"  [(ngModel)]="searchQuery" [ngModelOptions]="{standalone: true}" (keyup.enter)="onSearch()"  > <!--to take the input [(ngModel)]="query" (ngModelChange)="onSearchInput($event)" -->
                    <button class="btn btn-dark  w-sm-auto ps-5 pe-5 ms-2"  type="submit" (click)="onSearch()" name="searchQuery"><!--(ngSubmit)="onSearch()"-->
                        Search
                    </button>
                </form>
            </div>
        </div>

        <img src="/assets/boy-hero.png" class="rounded col-8 col-lg-3 d-none d-lg-block boy-img" alt="Boy">
    </div>
</div>
