header img.company-logo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: 0.3s;

}
header img.company-logo:hover {
  transform: scale(1.05);
}
