<div style="background-color: #F4F4F6">

  <div class=" d-flex justify-content-center p-3"  >
    <div class="container border border-2 post-job-form p-3 rounded-2"
         style="

  background-color: white;
  box-shadow:0 0 3px 2px rgba(0,0,0,.075);

">

      <header class="d-flex justify-content-between">
        <h2 class="mx-2">Edit the job</h2>
        <button class="btn btn-close d-flex align-self-center" (click)="cancelPost()" ></button>
      </header>

      <hr>

      <form [formGroup]="postJobForm" (ngSubmit)="submitPost()" class="d-flex flex-column align-content-between">
        <div>
          <div class="mb-4">
            <label for="formGroupJobTitle" class="form-label"><strong>Job Title</strong> </label>
            <input type="text" class="form-control" id="formGroupJobTitle" placeholder="Example input placeholder" formControlName = "job_title">
          </div>


          <div class="mb-4">
            <label for = "formGroupJobIndustry" class="mb-2"><strong>Job Industry</strong> </label>
            <input type="text" class="form-control" id="formGroupJobIndustry" placeholder="Example input placeholder" formControlName = "industry">
          </div>


          <div class="mb-4">
            <label class="mb-2" for="formGroupLocation"> <strong>Job Location</strong>
            </label >
            <input type="text" class="form-control" id="formGroupLocation" placeholder="Example input placeholder" formControlName = "location">

          </div>


          <div class="mb-5">
            <label class="mb-2" for="formGroupSalary"> <strong>Monthly Salary</strong> </label>
            <input type="text" class="form-control" id="formGroupSalary" placeholder="Example input placeholder" formControlName = "salary">

          </div>

          <hr>

          <div class="d-flex justify-content-between">
            <h3 style="font-size: large">Job Type</h3>
            <label>
              <input type="radio" formControlName="job_type" value="full-time" />
              Full Time
            </label>

            <label>
              <input type="radio" formControlName="job_type" value="part-time" />
              Part Time
            </label>

            <label>
              <input type="radio" formControlName="job_type" value="contract" />
              Contract
            </label>

            <label>
              <input type="radio" formControlName="job_type" value="internship" />
              Internship
            </label>

            <div></div>
          </div>


          <hr>
          <div class="d-flex justify-content-between mb-3">
            <label><strong>Work Location</strong></label>
            <label>
              <input type="radio" formControlName="workplace" value="Onsite" />
              Onsite
            </label>

            <label>
              <input type="radio" formControlName="workplace" value="Remote" />
              Remote
            </label>

            <label>
              <input type="radio" formControlName="workplace" value="Hybrid" />
              Hybrid
            </label>

            <div></div>
          </div>

          <div>
            <label><strong>Description</strong></label>
            <textarea class="form-control" id="jobDescription" rows="5" placeholder="Write job details here..." formControlName="description"></textarea>

          </div>
        </div>

        <hr>

        <div class="d-flex justify-content-end gap-2 mt-2">
          <button class="btn btn-secondary" (click)="cancelPost()" >Cansel</button>
          <button class="btn btn-primary"   (click)="submitPost()">Post</button>
        </div>
      </form>

    </div>
  </div>


</div>
