
<div class="card mb-3 all-jobs-card mt-3">
    <div class="row g-0 align-items-center col-lg-12">
      
      <div class="col-md-3 d-flex align-items-center justify-content-center p-3">
        <img *ngIf="job.JobLogo" [src]="job.JobLogo" class="rounded-circle me-3" alt="logo" style="width: 40px; height: 40px;">
        <h5 class="mb-0">{{ job.CompanyName }}</h5>
      </div>
      <div class="col-md-9">
        <div class="d-flex flex-column flex-md-row align-items-center justify-content-center justify-content-evenly">
          <div class="text-nowrap" >
            <h5 class="fs-5 fw-medium">{{job.JobName}}</h5>
          </div>
            <div class="vr d-none d-md-block"></div>
          <div class="text-nowrap" >
            <i class="bi bi-geo-alt"></i> {{ job.JobLocation }}
          </div>
          <div class="vr d-none d-md-block"></div>
          <div class="text-nowrap" >
            {{ job.JobType }}
          </div>
          <div class="d-flex justify-content-between ">
            <a href="#" [routerLink]="['/job-description', job.id]" class="btn text-light ps-4 pe-4 details-button"
                style="background-color: rgb(29, 36, 69);">
            Details</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  
