<div class="card  job-card-aprar  rounded-4 card-translate ">
    <div class="card-body container fs-6 ">
        <div class=" mb-3 d-flex justify-content-between">
            <span
                class="card-text border  p-1  border-opacity-10 rounded fw-medium ps-3 pe-3 me-3 ">{{job.job_type}}</span>
            <span class="card-text border  p-1 border-opacity-10 rounded fw-medium ps-3 pe-3"> <i
                    class="bi bi-geo-alt"></i> {{job.location}}</span>
        </div>
        <div class="d-flex justify-content-start align-items-center ">
            <img *ngIf="job.logo_url" [src]="job.logo_url" class="rounded-circle" alt="logo"
                style="width:60px ; height:60px;">
            <h5 class="m-3 fs-3">{{job.company_name}}</h5>
        </div>
        <h5 class="card-title mt-3 fs-5 fw-medium">{{job.job_title}}</h5>
        <p class="card-text fw-lighter">{{job.workplace}} - {{job.salary}} </p>
        <div class="d-flex justify-content-between ">
            <a href="#" [routerLink]="['/job-description', job.job_id]" class="btn text-light ps-4 pe-4 "
                style="background-color: rgb(29, 36, 69);">Details</a>
            <button type="button" class="btn" (click)="toggelFavaorate()">
        <i class="bi" [ngClass]="IsFavoratieJobs ? 'bi-heart-fill text-danger' : 'bi-heart'"></i>
      </button>
        </div>
    </div>
</div>