<div class="card  container-fluid " style="height: 300px;" >
  <div class="card-body d-flex   flex-column align-items-center justify-content-center" *ngIf="job">
    <h1 class="card-title">{{job.job_title}}</h1>
        <h3 class="card-text fs-5">{{job.company_name}}</h3>
  </div>
</div>

<div class="container-fluid " style=" background-color: rgb(244, 244, 246); overflow: hidden;">
<div  style="margin-top: 70px;">
  <div class="row d-flex justify-content-evenly" *ngIf="job">
    <div class="col-lg-3 shadow rounded-4 " style="background-color:  rgb(255, 255, 255); height: 230px;">
      <div class=" mb-2 d-flex justify-content-between mt-2">
        <span
            class="card-text border  p-1  border-opacity-10 rounded fw-medium ps-3 pe-3 me-3 ">{{job.job_type}}</span>
        <span class="card-text border  p-1 border-opacity-10 rounded fw-medium ps-3 pe-3"> <i
                class="bi bi-geo-alt"></i> {{job.location}}</span>
    </div>
      <div class="d-flex justify-content-start align-items-center ">
        <img *ngIf="job.logo_url" [src]="job.logo_url" class="rounded-circle "  alt="logo" style="width:60px ; height:60px;">
        <h5 class="ms-5 fs-5">{{job.company_name}}</h5>
    </div>
    <h5 class="card-title mt-3 fs-5 fw-medium">{{job.job_title}}</h5>
    <p class="card-text fw-lighter mt-2">{{job.workplace}}-{{job.salary}}</p>
   <button class="btn btn-dark w-100 mt-2" [routerLink]="''">Go Back</button>
    </div>
    <div class="col-lg-5 "  >
      <h5 class="fw-bolder mb-3">Job Description</h5>
      <p class="mb-5 text-body-secondary fw-medium lh-2">
        {{job.description}}
      </p>
      <div class="d-flex justify-content-start gap-2 mt-4">
        <button class="btn btn-dark w-50" (click)="showApplecationMsg()" type="submit">Apply Now</button>
      </div>
    </div>
  </div>
</div>
</div>
<app-footer></app-footer>

