<div class="form">

    <div class="job-form-title">
        <h3 class="form-title">Job Application Form</h3>
    </div>
    <div class="mb-3 upload">
        <label for="formFile" class="form-label">Upload Resume</label>
        <input class="form-control" type="file" id="formFile">
    </div>
     <div class="mb-3">
            <label for="coverLetter" class="cover">Cover Letter</label>
            <textarea id="coverLetter" class="form-control" rows="5" placeholder="Write your message here..."></textarea>
            <button type="button" class="btn btn submit">Submit</button>
    </div>
</div>
