<div class="form">
        <h3 class="title-1">Job Application Form</h3>

    <div class="center-group">
        <label for="formFile" class="title-2">Upload Resume</label>
        <input class="form-control" type="file" id="formFile" (change)="onFileSelected($event)">
    </div>
      

    <div class="button-group">
        <button type="button" class="submit" (click)="onSubmit()">Submit</button>
        <button type="button" class="download" (click)="downloadResume()">
            Download Resume
        </button>
        <button type="button" class="delete" (click)="deleteResume()">
            Delete Resume
        </button>
        
    </div>
      
</div>
  