

<div class="card job-card" style="box-shadow: 0 0 5px rgba(0,0,0.75); ">
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <div>
        <h3 class="h5">{{ job.job_title }} </h3>
        <p class="text-muted mb-2"><i class="bi bi-geo-alt"></i> {{ job.location }}</p>
        <p class="mb-3"> {{ job.description.split(' ').length > 30 ? (job.description.split(' ').slice(0, 30).join(' ') + '...') : job.description }}
          <a [routerLink]="['/job-details', job.job_id]">more</a>
        </p>


        <div class="d-flex gap-2 mb-2 text-white">
          <span class="p-2 rounded-2" style="background-color: #1d2445" ><i class="bi bi-person-workspace  "></i> {{job.job_type}}</span>
          <span class="p-2 rounded-2" style="background-color: #1d2445" ><i class="bi bi-people  "></i> {{job.workplace}} </span>
        </div>
<!--        <div class="rounded-2 text-muted small"><i class="bi bi-clock  "></i> Posted  Posted {{ job.created_at | timeago }}-->
<!--        </div>-->

      </div>


      <div class="d-flex flex-column gap-2">

        <div class="dropdown">
          <button class="btn btn-sm btn-light rounded-circle p-2" type="button"
                  data-bs-toggle="dropdown" style="width:34px;height:34px;">
            <i class="bi bi-three-dots-vertical"></i>
          </button>
          <ul class="dropdown-menu shadow" >
            <li>
              <a class="dropdown-item py-2" [routerLink]="['/edit-job' , job.job_id]">
                <i class="bi bi-pencil me-2 text-primary"></i>
                Edit
              </a>
            </li>
            <li>
              <a class="dropdown-item py-2" href="#">
                <i class="bi bi-people me-2 text-success"></i>
                View Applications
              </a>
            </li>
            <li>
              <a class="dropdown-item py-2" (click)="onDeleteJob()">
                <i class="bi bi-trash me-2 text-danger"></i>
                Delete
              </a>
            </li>
            </ul>

        </div>

      </div>
    </div>
  </div>

</div>

