<main>
<div class="notifications-page container mt-3">
<h1 class="text-start">Notifications</h1>
  <hr>
  <app-notification class="col-12"></app-notification>
  <app-notification class="col-12"></app-notification>
  <app-notification class="col-12"></app-notification>
  <app-notification class="col-12"></app-notification>
  <app-notification class="col-12"></app-notification>
  <app-notification class="col-12"></app-notification>
  <app-notification class="col-12"></app-notification>
  <app-notification class="col-12"></app-notification>
</div>

</main>
