.side{
    position: relative;
    width: 100%;
    height: 1000px;
    background-color: white;
    border-radius: 20px;
    margin-top: 40px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.20);
}
.information{
    
    width: 100%;
    text-align: start;
    font-size: 12px;
    padding-left: 10%;
    padding-top: 10%;
    font-weight: 600;
}
.my-icon{
    height: 20px;
    font-size: 15px;
    position: absolute;
    top: 10px;
    right: 5%;
    border: none;
    background-color: white;
}
.my-icon:hover{
    background-color: rgb(244, 244, 246);
    transition: 500ms;
}
.gmail{
    padding-top: 14px;
    padding-left: 8% ;
}
.phone{
    padding-top: 3px;
    padding-left: 8%;
}
.title-1{
    font-size: 17px;
    padding-bottom: 10px;
}
.social-media{
    margin-left: 8%;
    font-size: 22px;
    margin-top: 15%;
    display: flex;
    flex-direction: row;
    gap: 50px;
}
.facebook{
    color: #1877f2;
}
.instagram{
    color: #e4405f
}
.linkedin{
    color: #0a66c2;
}


.skills{
    position: relative;
    border-radius: 20px;
    margin-top: 20%;
    width: 100%;
    height: 30%;
    background-color: white;
}
.skills-list {
    display: flex;
    flex-wrap: wrap;   
    list-style-type: disc;
    margin-left: 10%;
}
.skill-item{
    color: #333;
    border-radius: 5px;
    font-size: 16px;
    width: 150px;
            
}

.title-2{
    padding-left: 10%;
    padding-top: 10%;
    font-weight: 600;
}
.my-icon-2{
    position: absolute;
    border: none;
    background-color: white;
    top: 5%;
    right: 5%;
}
.my-icon-2:hover {
    background-color: rgb(244, 244, 246);
    transition: 500ms;
}







@media (min-width: 0) and (max-width: 480px) {
    .side {
        width: 120px;
        margin-top: 20px;
    }

    .information {
        font-size: 10px;
        padding-left: 5%;
        padding-top: 5%;
    }

    .my-icon {
        top: 5px;
        right: 5%;
    }

    .title-1 {
        font-size: 13px;
    }
    .gmail{
        font-size:8px;
       padding-left: 0px;
    }
    .phone{
        padding-left: 0px;
    }
    .social-media {
        gap: 20px;
        font-size: 18px;
        margin-top: 10%;
    }

    .skills {
        margin-top: 10%;
    }

    .skills-list {
        margin-left: 5%;
    }

    .skill-item {
        width: 120px;
        font-size: 12px;
    }

    .title-2 {
        font-size: 16px;
    }

    .my-icon-2 {
        top: 5%;
        right: 5%;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .side {
        width: 120px;
        margin-top: 20px;
    }

    .information {
        font-size: 9px;
        padding-left: 0;
        padding-top: 6%;
    }

    .my-icon {
        top: 5px;
        right: 5%;
    }
    

    .title-1 {
        font-size: 14px;
        margin-left: 5px;
    }

    .social-media {
        gap: 20px;
        font-size: 20px;
        margin-top: 12%;
    }

    .skills {
        margin-top: 15%;
    }

    .skills-list {
        margin-left: 6%;
    }

    .skill-item {
        width: 130px;
        font-size: 15px;
    }

    .title-2 {
        font-size: 17px;
    }

    .my-icon-2 {
        top: 4%;
        right: 5%;
    }
}

@media (min-width: 769px) and (max-width: 1279px) {
    .side {
        width: 100%;
        margin-top: 25px;
    }

    .information {
        font-size: 12px;
        padding-left: 0;
        padding-top: 8%;
    }

    .my-icon {
        top: 10px;
        right: 0px;
    }

    .title-1 {
        font-size: 18px;
        padding-left: 5px;
    }

    .social-media {
        gap: 30px;
        font-size: 22px;
        margin-top: 15%;
    }

    .skills {
        margin-top: 20%;
    }

    .skills-list {
        margin-left: 8%;
    }

    .skill-item {
        width: 150px;
        font-size: 16px;
    }

    .title-2 {
        font-size: 18px;
    }

    .my-icon-2 {
        top: 5%;
        right: 5%;
    }
}