<div class="settings-container-main">
    <div class="settings-container">
        <h2>Settings</h2>
        <form [formGroup]="profileForm">
            <label>Full Name:</label>
            <input type="text" formControlName="fullName" />

            <label>Phone Number:</label>
            <input type="text" formControlName="phone" />

            <label>Gender:</label>
            <select formControlName="gender">
                <option value="">Select Gender</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
            </select>

            <label>City:</label>
            <input type="text" formControlName="city" />

            <label>Education Level:</label>
            <input type="text" formControlName="educationLevel" />

            <label>Major:</label>
            <input type="text" formControlName="major" />

            <label>Years of Experience:</label>
            <input type="text" formControlName="experienceYears" />


            <div class="changePassword"> do you want to change your password ?</div>

            <label>Current Password:</label>
            <input type="password" formControlName="currentPassword" />

            <label>New Password:</label>
            <input type="password" formControlName="newPassword" />

            <label>Confirm New Password:</label>
            <input type="password" formControlName="confirmNewPassword" />

            <button type="button">Save</button>
        </form>

        <button class="logout">
            <i class="bi bi-box-arrow-right"></i> Log Out
        </button>
          
          
    </div>
</div>
  
  
  
