<div class="settings-container-main">
    <div class="settings-container">
        <h2>Settings</h2>
        <form [formGroup]="profileForm">
            <label>First Name:</label>
            <input type="text" formControlName="firstName" />
            
            <label>Last Name:</label>
            <input type="text" formControlName="lastName" />
            

            <label>Phone Number:</label>
            <input type="text" formControlName="phone" />

            <label>Gender:</label>
            <select formControlName="gender">
                <option value="">Select Gender</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
            </select>

            <label>City:</label>
            <input type="text" formControlName="city" />

            <label>Education Level:</label>
            <input type="text" formControlName="educationLevel" />

            <label>Major:</label>
            <input type="text" formControlName="major" />

            <label>Years of Experience:</label>
            <input type="text" formControlName="experienceYears" />
            
            <label>Current Password:</label>
            <div class="password-field">
                <input [type]="showCurrentPassword ? 'text' : 'password'" formControlName="currentPassword" />
                <i class="bi" [ngClass]="showCurrentPassword ? 'bi-eye-slash' : 'bi-eye'"
                    (click)="togglePasswordVisibility('current')"></i>
            </div>
            
            <label>New Password:</label>
            <div class="password-field">
                <input [type]="showNewPassword ? 'text' : 'password'" formControlName="newPassword" />
                <i class="bi" [ngClass]="showNewPassword ? 'bi-eye-slash' : 'bi-eye'" (click)="togglePasswordVisibility('new')"></i>
            </div>
            
            <label>Confirm Password:</label>
            <div class="password-field">
                <input [type]="showConfirmPassword ? 'text' : 'password'" formControlName="confirmPassword" />
                <i class="bi" [ngClass]="showConfirmPassword ? 'bi-eye-slash' : 'bi-eye'"
                    (click)="togglePasswordVisibility('confirm')"></i>
            </div>
            

            
            <button type="button" (click)="onSave()">Save</button>
        </form>

    
        </div>
          
    </div>
  